/* CSS Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: Montserrat, sans-serif;
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    max-width: 1440px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
}

span {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 2em;
    font-family: "Playfair Display SC", serif;
}


h2 {
    font-size: 1.5em;
    font-family: Playfair Display SC, serif
}








/* NAV BAR */

.nav-bar {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    padding: 20px 35px;
    align-items: center;
    border-radius: 20px;
    box-shadow:
        inset 0 4px 12px rgba(255, 255, 255, 0.4),
        inset 2px -6px 5px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    position: fixed;
    width: 100%;
    z-index: 999;
}

.nav-bar__branding {
    display: flex;
    align-items: center;
}

.nav-bar__main-menu,
.nav-bar__sub-menu {
    display: flex;
    list-style: none;
}

.nav-bar__main-menu a,
.nav-bar__sub-menu a {
    text-decoration: none;
    color: inherit;
    padding: 10px 20px;
}

.nav-bar__main-menu a:hover,
.nav-bar__sub-menu a:hover {
    background-color: #E38833;
    box-shadow:
        inset 2px 4px 6px rgba(255, 255, 255, 0.4),
        inset -2px -4px 6px rgba(0, 0, 0, 0.2),
        0 8px 20px rgba(227, 136, 51, 0.15),
        0 2px 4px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    color: #fff;
    border-radius: 50px;
}

.nav-bar__main-menu--active {
    border: solid 2px #E38833;
    border-radius: 15px;
}

.nav-bar__main-menu--active:hover {
    border-color: transparent;
}


.nav-bar__sub-menu {
    display: none;
    flex-direction: column;
    padding: 10px;
    position: fixed;
    margin: 8px;
    right: 50px;
    border-radius: 20px;
    background: #ded2c8d4;
    box-shadow:
        inset 2px 4px 6px rgba(255, 255, 255, 0.4),
        inset -2px -4px 6px rgba(0, 0, 0, 0.2),
        0 8px 20px rgba(227, 136, 51, 0.15),
        0 2px 4px rgba(0, 0, 0, 0.2);

}

.nav-bar__sub-menu:hover {
    display: flex;

}

.nav-bar__sub-menu li {
    padding: 10px;
}

.nav-bar__main-menu li:hover .nav-bar__sub-menu {
    display: flex;
}

.hero-banner {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    align-items: center;
    justify-items: center;
    height: 100vh;
    background-color: #DED2C8;
}

.hero-banner__image {
    grid-column: 1 / -1;
    grid-row: 1;
}

.hero-banner__image img {
    object-fit: contain;
    height: 100vh;
    width: 100%;
    padding-top: 10vh;
    display: block;
}


.hero-banner__title {
    grid-column: 1 / -1;
    /* span full width so it can be centered */
    grid-row: 1;
    z-index: 2;
    justify-self: center;
    align-self: start;
    margin-top: 11vh;
    text-align: center;
    background-color: #DED2C8;

}


.hero-banner__title h1 {
    color: #E38833;
}


.hero-banner__cards-container {
    width: 100%;
    height: 100vh;
    grid-column: 1 / 12;
    grid-row: 1;
    align-self: end;
    display: grid;
    grid-template-rows: repeat(24, 1fr);
    align-items: center;
    justify-items: center;

}

.hero-banner__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 35px;
    padding: 0 10px;
    border-radius: 0 20px 20px 0;
    width: 100%;
    height: 90px;

    background: rgba(255, 255, 255, 0.15);
    /* translucent glass base */
    border: 1px solid rgba(255, 255, 255, 0.3);

    /* inset shadows for curved edges */
    box-shadow:
        inset 0 6px 10px rgba(255, 255, 255, 0.6),
        /* light highlight on top */
        inset 0 -6px 10px rgba(0, 0, 0, 0.15);
    /* outer shadow for depth */

    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);

}

.hero-banner__first-card {
    text-align: center;
    grid-row-start: 8;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 0.8em;


}

.hero-banner__second-card {
    text-align: center;
    grid-row-start: 19;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 0.8em;
}


/* Animations hero-banner */


@keyframes slideInLeft {
    from {
        opacity: 0.2;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.hero-banner__first-card,
.hero-banner__second-card {
    animation: slideInLeft 0.8s ease-out forwards;
}

/* general responsive  */
@media screen and (min-width: 768px) {
    .hero-banner__title {

        grid-column: 1 / 12;
        grid-row: 1;
        z-index: 2;
        justify-self: end;
        text-align: center;
        align-self: center;
        background-color: transparent;
    }

    .hero-banner__cards-container {
        height: auto;
        grid-column: 1 / -1;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(24, 1fr);
    }

    .hero-banner__card {
        border-radius: 20px 20px 0 0;
        width: 300px;
        height: 200px;
    }

    .hero-banner__first-card {
        grid-column-start: 4;
        font-size: 32px;
        padding: 15px;
        grid-row-start: 1;
    }

    .hero-banner__second-card {
        grid-column-start: 20;
        font-size: 32px;
        padding: 15px;
        grid-row-start: 1;
    }

    #burger-menu {
        display: none;
    }

    .nav-bar__main-menu {
        display: flex;
    }

    @keyframes slideInLeft {
        from {
            opacity: 0.2;
            transform: translateY(100%);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

}

/* tablet responsive  */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .hero-banner__title h1 {
        font-size: 2.3em;
    }

    .hero-banner__card {
        font-size: 1em;
    }
}

/* desktop responsive  */
@media screen and (min-width: 1025px) {
    .hero-banner__title h1 {
        font-size: 3.1em;
    }

    .hero-banner__card {
        font-size: 1.3em;
    }
}

/* burger menu acitvation  mobile menu  nav */

@media screen and (max-width: 767px) {
    body.menu-open .nav-bar {
        height: 90vh;
    }

    body.menu-open .nav-bar__main-menu {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        align-items: center;
        justify-content: center;
        z-index: 999;
        font-size: 1.5em;

    }

    body.menu-open .nav-bar__main-menu li {
        margin: 10px;
    }

    body.menu-open .nav-bar__branding {
        display: none;
    }

    #burger-menu {
        position: absolute;
        top: 30px;
        right: 35px;
        display: block;
        font-size: 24px;
        cursor: pointer;
        z-index: 999;
    }

    .nav-bar__main-menu {
        display: none;
    }

    .nav-bar__sub-menu {
        font-size: 0.8em;
        width: 97%;
        left: 0;
        top: 55px;
        background: #ded2c8f8;
    }

    .nav-bar__sub-menu a {
        display: block;
        padding: 8px 0;
        line-height: 1.2;
        text-align: center;
        margin: 0px;
    }
}


/* SECTION 1 */

.section1 {
    position: relative;
    background-color: #F4E5DB;
    border-radius: 0px 0px 200px 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding-top: 100px;
    z-index: 990;
}

.section1__image img {
    transform: translateY(57%);
    /* width: 204px;
    height: 116px; */
    border-radius: 60px;
    align-items: center;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.section1__body {
    background-color: #EBCFBD;
    border-radius: 25px;
    padding: 150px 25px 50px 25px;

}

.section1__content {
    margin-top: 2.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section1__flower {
    opacity: 0.5;
    scale: 0.9;
}

/* RESPONSIVE SECTION 1 */
/* general responsive  */
@media screen and (min-width: 768px) {

    .section1 {
        border-radius: 0 0 500px 500px;

    }


    .section1__content {
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }

    .section1__body {
        width: 50%;
        margin-right: 20px;
        padding: 25px;
        background-color: transparent;
    }

    .section1__image img {
        transform: translateY(0%);
        border-radius: 180px;
        max-height: 30vh;
    }

    .section1 h2 {
        font-size: 2em;
    }
}


/* SECTION 2 */

.section2 {
    position: relative;
    background-color: #EBCFBD;
    border-radius: 0px 0px 200px 200px;
    padding-top: 500px;
    margin-top: -500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    z-index: 9;
}



.section2__image img {
    transform: translateY(62%);
    /* width: 204px;
    height: 116px; */
    border-radius: 60px;
    align-items: center;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.section2__content {
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.section2__body {
    background-color: #D9D9D9;
    border-radius: 25px;
    padding: 150px 25px 50px 25px;
    margin: 15px;
}

.section2 h3 {
    margin-top: 1.7em;
    margin-bottom: 1em;
    font-size: 1.1em;
    font-weight: 600;
}

.section2 h2 {
    font-size: 1.4em;
    margin-bottom: 2.5em;
}

.section2__flower {
    opacity: 0.5;
    scale: 0.9;
}


/* RESPONSIVE SECTION 2 */
/* RESPONSIVE GENERAL*/

@media screen and (min-width: 768px) {
    .section2__content {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .section2__body {
        width: 50%;
        margin-right: 20px;
        padding: 25px;
        background-color: transparent;
    }

    .section2__image img {
        transform: translateY(0%);
        border-radius: 150px;
        max-height: 40vh;
    }

    .section2 {
        padding: 600px 25px 25px 25px;
        border-radius: 0 0 500px 500px;
    }
}


/* SECTION 3 */

.section3 {
    background-color: #D9D9D9;
    border-radius: 0px 0px 200px 200px;
    padding-top: 500px;
    margin-top: -500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section3__body {
    background-color: #F4E5DB;
    border-radius: 25px;
    padding: 50px 25px 50px 25px;
    margin: 150px 15px 15px 15px;

}

.section3__body h2{
    margin-bottom: 2.5em;
}

.section3__body h3 {
    margin-top: 1.7em;
    margin-bottom: 1em;
    font-size: 1.1em;
    font-weight: 600;

}