/* CSS Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: Montserrat, sans-serif;
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    max-width: 1440px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
}

span {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 2em;
    font-family: "Playfair Display SC", serif;
}


h2 {
    font-size: 1.5em;
    font-family: Playfair Display SC, serif;
    margin-bottom: 2.5em;
}








/* NAV BAR */

.nav-bar {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    padding: 20px 35px;
    align-items: center;
    border-radius: 20px;
    box-shadow:
        inset 0 4px 12px rgba(255, 255, 255, 0.4),
        inset 2px -6px 5px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    position: fixed;
    width: 100%;
    z-index: 999;
}

.nav-bar__branding {
    display: flex;
    align-items: center;
}

.nav-bar__branding img {
    width: 50px;
    height: 40px;
    object-fit: contain;
}

.nav-bar__main-menu,
.nav-bar__sub-menu {
    display: flex;
    list-style: none;
}

.nav-bar__main-menu a,
.nav-bar__sub-menu a {
    text-decoration: none;
    color: inherit;
    padding: 10px 20px;
}

.nav-bar__main-menu a:hover,
.nav-bar__sub-menu a:hover {
    background-color: #E38833;
    box-shadow:
        inset 2px 4px 6px rgba(255, 255, 255, 0.4),
        inset -2px -4px 6px rgba(0, 0, 0, 0.2),
        0 8px 20px rgba(227, 136, 51, 0.15),
        0 2px 4px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    color: #fff;
    border-radius: 50px;
}

.nav-bar__main-menu a:active,
.nav-bar__sub-menu a:active {
    transform: scale(0.95);
    /* Slightly shrink the button */
    box-shadow:
        inset 2px 4px 8px rgba(0, 0, 0, 0.3),
        /* Deeper inset shadow for pressed effect */
        inset -2px -4px 8px rgba(255, 255, 255, 0.2);
    /* Reduced highlight */
    background-color: #d17a2e;
    /* Slightly darker shade for pressed state */
    backdrop-filter: blur(10px);
    /* Slightly reduced blur for realism */
    -webkit-backdrop-filter: blur(10px);
}

.nav-bar__main-menu--active {
    border: solid 2px #E38833;
    border-radius: 15px;
}

.nav-bar__main-menu--active:hover {
    border-color: transparent;
}


.nav-bar__sub-menu {
    display: none;
    flex-direction: column;
    padding: 10px;
    position: fixed;
    margin: 8px;
    right: 50px;
    border-radius: 20px;
    background: #ded2c8d4;
    box-shadow:
        inset 2px 4px 6px rgba(255, 255, 255, 0.4),
        inset -2px -4px 6px rgba(0, 0, 0, 0.2),
        0 8px 20px rgba(227, 136, 51, 0.15),
        0 2px 4px rgba(0, 0, 0, 0.2);

}

.nav-bar__sub-menu:hover {
    display: flex;

}

.nav-bar__sub-menu li {
    padding: 10px;
}

.nav-bar__main-menu li:hover .nav-bar__sub-menu {
    display: flex;
}

.hero-banner {
    position: relative;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    align-items: center;
    justify-items: center;
    height: 100vh;
    background-color: #DED2C8;
}

.hero-banner__image {
    grid-column: 1 / -1;
    grid-row: 1;
}

.hero-banner__image img {
    object-fit: contain;
    height: 100vh;
    width: 100%;
    padding-top: 10vh;
    display: block;
}


.hero-banner__title {
    grid-column: 1 / -1;
    grid-row: 1;
    z-index: 2;
    justify-self: center;
    align-self: start;
    margin-top: 11vh;
    text-align: center;
    background-color: #DED2C8;

}


.hero-banner__title h1 {

    color: #A45200;
}


.hero-banner__cards-container {
    width: 100%;
    height: 100vh;
    grid-column: 1 / 12;
    grid-row: 1;
    align-self: end;
    display: grid;
    grid-template-rows: repeat(24, 1fr);
    align-items: center;
    justify-items: center;

}

.hero-banner__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 35px;
    padding: 0 10px;
    border-radius: 0 20px 20px 0;
    width: 100%;
    height: 90px;

    background: rgba(255, 255, 255, 0.15);
    /* translucent glass base */
    border: 1px solid rgba(255, 255, 255, 0.3);

    /* inset shadows for curved edges */
    box-shadow:
        inset 0 6px 10px rgba(255, 255, 255, 0.6),
        /* light highlight on top */
        inset 0 -6px 10px rgba(0, 0, 0, 0.15);
    /* outer shadow for depth */

    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);

}

.hero-banner__first-card {
    text-align: center;
    grid-row-start: 8;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 0.8em;


}

.hero-banner__second-card {
    text-align: center;
    grid-row-start: 19;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 0.8em;
}

.hero-banner__card--small {
    font-size: 0.2em;
    font-style: italic;
    text-align: start;
    position: absolute;
    bottom: -135%;
    left: 25px;
}


/* Animations hero-banner */


@keyframes slideInLeft {
    from {
        opacity: 0.2;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.hero-banner__first-card,
.hero-banner__second-card {
    animation: slideInLeft 0.8s ease-out forwards;
}

/* general responsive  */
@media screen and (min-width: 768px) {
    .hero-banner__title {

        grid-column: 1 / 12;
        grid-row: 1;
        z-index: 2;
        justify-self: end;
        text-align: center;
        align-self: center;
        background-color: transparent;
    }

    .hero-banner__cards-container {
        height: auto;
        grid-column: 1 / -1;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(24, 1fr);
    }

    .hero-banner__card {
        border-radius: 20px 20px 0 0;
        width: 300px;
        height: 200px;
    }

    .hero-banner__first-card {
        grid-column-start: 4;
        font-size: 32px;
        padding: 15px;
        grid-row-start: 1;
    }

    .hero-banner__second-card {
        grid-column-start: 20;
        font-size: 32px;
        padding: 15px;
        grid-row-start: 1;
    }

    .hero-banner__card--small {
        bottom: 10px;
        left: 0;
    }

    #burger-menu {
        display: none;
    }

    .nav-bar__main-menu {
        display: flex;
    }

    @keyframes slideInLeft {
        from {
            opacity: 0.2;
            transform: translateY(100%);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

}

/* tablet responsive  */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .hero-banner__title h1 {
        font-size: 2.3em;
    }

    .hero-banner__card {
        font-size: 1em;
    }
}

/* desktop responsive  */
@media screen and (min-width: 1025px) {
    .hero-banner__title h1 {
        font-size: 3.1em;
    }

    .hero-banner__card {
        font-size: 1.3em;
    }
}

/* burger menu acitvation  mobile menu  nav */

@media screen and (max-width: 767px) {
    body.menu-open .nav-bar {
        height: 90vh;
    }

    body.menu-open .nav-bar__main-menu {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        align-items: center;
        justify-content: center;
        z-index: 999;
        font-size: 1.5em;

    }

    body.menu-open .nav-bar__main-menu li {
        margin: 10px;
    }

    body.menu-open .nav-bar__branding {
        display: none;
    }

    #burger-menu {
        position: absolute;
        top: 30px;
        right: 35px;
        display: block;
        font-size: 24px;
        cursor: pointer;
        z-index: 999;
    }

    .nav-bar__main-menu {
        display: none;
    }

    .nav-bar__sub-menu {
        font-size: 0.8em;
        width: 97%;
        left: 0;
        top: 55px;
        background: #ded2c8f8;
    }

    .nav-bar__sub-menu a {
        display: block;
        padding: 8px 0;
        line-height: 1.2;
        text-align: center;
        margin: 0px;
    }
}


/* SECTION 1 */

.section1 {
    position: relative;
    background-color: #F4E5DB;
    border-radius: 0px 0px 200px 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding-top: 100px;
    z-index: 990;
}

.section1__image img {
    transform: translateY(57%);
    /* width: 204px;
    height: 116px; */
    border-radius: 60px;
    align-items: center;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}



.section1__body {
    background-color: #EBCFBD;
    border-radius: 25px;
    padding: 150px 25px 50px 25px;

}

.section1__content {
    margin-top: 2.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section1__flower {
    opacity: 0.5;
    scale: 0.9;
}

/* RESPONSIVE SECTION 1 */
/* general responsive  */
@media screen and (min-width: 768px) {

    .section1 {
        border-radius: 0 0 500px 500px;

    }


    .section1__content {
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }

    .section1__body {
        width: 50%;
        margin-right: 20px;
        padding: 25px;
        background-color: transparent;
    }

    .section1__image img {
        transform: translateY(0%);
        border-radius: 180px;
        max-height: 30vh;
    }

    .section1 h2 {
        font-size: 2em;
    }
}


/* SECTION 2 */

.section2 {
    position: relative;
    background-color: #EBCFBD;
    border-radius: 0px 0px 200px 200px;
    padding-top: 500px;
    margin-top: -500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    z-index: 9;
}



.section2__image img {
    transform: translateY(62%);
    /* width: 204px;
    height: 116px; */
    border-radius: 60px;
    align-items: center;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.section2__content {
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.section2__body {
    background-color: #D9D9D9;
    border-radius: 25px;
    padding: 150px 25px 50px 25px;
    margin: 15px;
}

.section2 h3 {
    margin-top: 1.7em;
    margin-bottom: 1em;
    font-size: 1.1em;
    font-weight: 600;
}

.section2 h2 {
    font-size: 1.4em;
}

.section2__flower {
    opacity: 0.5;
    scale: 0.9;
}


/* RESPONSIVE SECTION 2 */
/* RESPONSIVE GENERAL*/

@media screen and (min-width: 768px) {
    .section2__content {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .section2__body {
        width: 50%;
        margin-right: 20px;
        padding: 25px;
        background-color: transparent;
    }

    .section2__image img {
        transform: translateY(0%);
        border-radius: 150px;
        max-height: 40vh;
    }

    .section2 {
        padding: 600px 25px 25px 25px;
        border-radius: 0 0 500px 500px;
    }
}


/* SECTION 3 */

.section3 {
    position: relative;
    background-color: #D9D9D9;
    border-radius: 0px 0px 200px 200px;
    padding-top: 500px;
    margin-top: -500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 8;
}

.section3__body {
    background-color: #F4E5DB;
    border-radius: 25px;
    padding: 50px 25px 50px 25px;
    margin: 150px 15px 15px 15px;

}



.section3__body h3 {
    margin-top: 1.7em;
    margin-bottom: 1em;
    font-size: 1.1em;
    font-weight: 600;

}

/* SECTION 3 RESPONSIVE */
/* RESPONSIVE GENERALE */
@media screen and (min-width: 768px) {
    .section3 {
        border-radius: 0 0 500px 500px;
    }


    .section3__body {
        width: 70%;
        background-color: transparent;
    }

    .section3__body h2 {
        text-align: center;
        margin-bottom: 4em;
    }
}




/* SECTION 4 */


.section4 {
    position: relative;
    background-color: #F4E5DB;
    padding: 600px 15px 15px 15px;
    margin-top: -500px;
    border-radius: 0px 0px 200px 200px;


}

.section4 h2 {
    text-align: center;
}

.section4__cards-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 40px;
    row-gap: 150px;
    /* padding: 15px; */

}


.section4__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section4__card--link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

}


.section4__card-head {
    position: relative;
    overflow: hidden;
    height: auto;
}


/* image normale */
.section4__card-image img {
    display: block;
    width: 100%;
    border-radius: 30px 30px 0 0;
    object-fit: cover;
    aspect-ratio: 16 / 9;
}

/* la wave est un vrai élément frère, positionné par-dessus */
.wave-overlay {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    aspect-ratio: 400 / 90;
    /* adapte au ratio réel de ta wave */
    background: url('./Images/Desktop/wavecards.svg') no-repeat bottom center;
    background-size: cover;
    z-index: 5;
    pointer-events: none;
}



.section4__card-body {
    width: 100%;
}

.section4__card-body h3 {
    text-align: center;
    margin-bottom: 30px;

}

.section4__card-body p {
    margin-bottom: 50px;
    padding-left: 10px;
}

.section4__card-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: solid 1px black;
}

.section4__card-time {
    text-align: center;
    border-right: 1px solid black;
    width: 50%;
    padding-top: 15px;

}

.button-like {
    background-color: #E38833;
    font-family: Montserrat, sans-serif;
    margin-top: 15px;
    border: none;
    padding: 15px 20px;
    border-radius: 35px;
    margin-left: 15px;
    cursor: pointer;
    color: #000;
    font-weight: 500;
    /* Identique au button */
    font-size: 16px;
    /* Ajouté pour correspondre à la taille de police par défaut du button */
    line-height: 1;
    /* Assure un espacement vertical identique */
    display: inline-block;
    /* Nécessaire pour que le span se comporte comme un bouton */
    text-align: center;
    box-sizing: border-box;
    /* Assure que le padding est calculé de la même manière */
}

.button-like:hover {
    background-color: #E38833;
    box-shadow:
        inset 2px 4px 6px rgba(255, 255, 255, 0.4),
        inset -2px -4px 6px rgba(0, 0, 0, 0.2),
        0 8px 20px rgba(227, 136, 51, 0.15),
        0 2px 4px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    color: #fff;
}

.button-like:active {
    transform: scale(0.95);
    /* Slightly shrink the button */
    box-shadow:
        inset 2px 4px 8px rgba(0, 0, 0, 0.3),
        /* Deeper inset shadow for pressed effect */
        inset -2px -4px 8px rgba(255, 255, 255, 0.2);
    /* Reduced highlight */
    background-color: #d17a2e;
    /* Slightly darker shade for pressed state */
    backdrop-filter: blur(10px);
    /* Slightly reduced blur for realism */
    -webkit-backdrop-filter: blur(10px);
}

/* SECTION 4 RESPONSIVE */
/* RESPONSIVE GENERALE */

@media screen and (min-width: 768px) {
    .section4 {
        border-radius: 0 0 500px 500px;

    }

    .section4__cards-container {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 40px;
    }
}

/* SECTION 5 */

.section5 {
    background-color: #D9D9D9;
    padding-top: 600px;
    margin-top: -500px;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: auto auto auto auto;
}

.section5__content {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section5__body {
    background-color: #DFB396;
    border-radius: 25px;
    padding: 150px 25px 50px 25px;
    margin: 15px;
    z-index: 2;

}

.section5__image img {
    position: relative;
    transform: translateY(60%);
    object-fit: cover;
    object-position: center 70%;
    width: 204px;
    height: 116px;
    border-radius: 50px 19px 50px 0;
    align-items: center;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    z-index: 3;
}


.section5 button {
    background-color: #145A32;
    font-family: Montserrat;
    margin-top: 15px;
    border: none;
    padding: 15px 20px;
    border-radius: 35px;
    margin-left: 15px;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
}

.section5 button:hover {
    background-color: #E38833;
    box-shadow:
        inset 2px 4px 6px rgba(255, 255, 255, 0.4),
        inset -2px -4px 6px rgba(0, 0, 0, 0.2),
        0 8px 20px rgba(227, 136, 51, 0.15),
        0 2px 4px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    color: #fff;

}

.section5 button:active {
    transform: scale(0.95);
    /* Slightly shrink the button */
    box-shadow:
        inset 2px 4px 8px rgba(0, 0, 0, 0.3),
        /* Deeper inset shadow for pressed effect */
        inset -2px -4px 8px rgba(255, 255, 255, 0.2);
    /* Reduced highlight */
    background-color: #d17a2e;
    /* Slightly darker shade for pressed state */
    backdrop-filter: blur(10px);
    /* Slightly reduced blur for realism */
    -webkit-backdrop-filter: blur(10px);
}


.section5__flower-top {
    grid-row-start: 2;
    margin-bottom: -140px;
    align-self: self-start;
    grid-column-start: 1;
    grid-column-end: -1;
    opacity: 0.5;
    transform: rotate(180deg);
    z-index: 1;


}


.section5__flower-bottom {
    grid-row-start: -1;
    grid-column-start: 1;
    grid-column-end: -1;
    opacity: 0.5;
    margin-top: -20px;
    z-index: 1;

}


.section5 h2 {
    grid-column: 1/-1;
    text-align: center;
}


.section5__button {
    display: flex;
    justify-content: flex-end;
}

/* SECTION 5 RESPONSIVE */
/* RESPONSIVE GENERALe */


@media screen and (min-width: 768px) {

    .section5__content {
        grid-column: 3/23;
    }

    .section5__body {
        padding: 150px 50px 50px 50px;
    }

    .section5__flower-bottom {
        grid-column: 5/-1;
        transform: translateX(-40px);
    }

    .section5__flower-top {
        grid-column-start: 5;
        grid-column-end: -1;
        transform: rotate(180deg) translateX(40px);

    }
}

/* Footer */
footer {
    background-color: #2c3e50;
    /* Suppression de l'opacité pour un fond solide */
    color: #ecf0f1;
    padding: 30px 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    text-align: center;
}

.footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin-bottom: 20px;
}

.footer__menu,
.footer__contact {
    width: 100%;
    margin-bottom: 20px;
}

.footer__menu h3,
.footer__contact h3 {
    font-size: 18px;
    margin-bottom: 12px;
    border-bottom: 2px solid #f39c12;
    /* Orange plus clair pour meilleur contraste */
    padding-bottom: 5px;
}

.footer__menu ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: 300px;
}

.footer__menu ul li {
    margin-bottom: 10px;
}

.footer__menu ul li a {
    color: #ecf0f1;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer__menu ul li a:hover {
    color: #f39c12;
    /* Orange plus clair pour meilleur contraste */
    text-decoration: underline;
}

.footer__contact p {
    margin: 8px 0;
}

.footer__contact a {
    color: #f39c12;
    /* Orange plus clair pour meilleur contraste */
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer__contact a:hover {
    color: #ecf0f1;
    text-decoration: underline;
}

.footer__social i {
    margin-right: 8px;
}

.footer__copyright {
    font-size: 14px;
    color: #d1d5da;
    text-align: center;
    /* Gris clair pour meilleur contraste */
    border-top: 1px solid #666;
    /* Bordure plus visible */
    padding-top: 15px;

    margin: 0 auto;
    max-width: 100%;

}

.fa-map-location-dot {
    color: #fff;
}

/* Dès 768px et plus, on passe en desktop avec flex horizontal */
@media screen and (min-width: 768px) {
    footer {
        padding: 40px 20px 20px;
        text-align: left;
    }

    .footer__content {
        flex-direction: row;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto 30px;
        align-items: flex-start;
    }

    .footer__menu,
    .footer__contact {
        width: auto;
        margin: 10px;
        flex: 1 1 250px;
    }

    .footer__menu ul {
        max-width: none;
    }

    .footer__menu h4,
    .footer__contact h4 {
        text-align: left;
    }
}


/* --------------------------- */
/* FIN DE LA PAGE D'ACCEUIL */
/* -------------------------- */


/* PAGE SOINS ENERGETIQUE */
/* HEADER PAGE SOINS  */
.soins-hero-banner {
    position: relative;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: 50vh;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 8vh;
    /* Needed for wave overlay */
    overflow: hidden;
}

.soins-hero-banner picture {
    grid-column: 1 / -1;
    grid-row: 1;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.soins-hero-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 35% 55%;
}

.soins-hero-banner-title {
    position: relative;
    /* nécessaire pour le reflet */
    grid-column: 1 / -1;
    grid-row: 1;
    z-index: 2;
    justify-self: center;
    align-self: self-start;
    margin-top: 1.5vh;
    text-align: center;
    font-size: 2em;
    width: 100%;
    box-shadow:
        inset 0 4px 12px rgba(255, 255, 255, 0.4),
        inset 2px -6px 5px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
}

/* Reflet lumineux doré */
.soins-hero-banner-title::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50;
    width: 50%;
    height: 100%;
    background: linear-gradient(120deg,
            transparent 0%,
            rgba(255, 255, 254, 0.312) 50%,
            transparent 100%);
    transform: skewX(100deg);
    animation: shine 5s infinite ease-in-out;
    z-index: 3;
    pointer-events: none;
}

@keyframes shine {
    0% {
        left: -100%;
    }

    100% {
        left: 150%;
    }
}

.soins-wave-overlay {
    position: absolute;
    bottom: -0.1vh;
    left: 0;
    width: 100%;
    aspect-ratio: 1000/ 200;
    background: url('./Images/Desktop/wavesoins.svg') no-repeat bottom center;
    background-size: cover;
    z-index: 1;
    pointer-events: none;
}

/* RESPONSIVE HEADER PAGE SOINS */

@media screen and (min-width: 768px) {
    .soins-hero-banner-title {
        font-size: 3em;
    }

    .soins-hero-banner {
        grid-template-rows: 70vh;
    }
}


.soins-section1 {
    background-color: #F4E5DB;
}

.soins-section1 h2 {
    text-align: center;
    padding-top: 2.5em;
    margin: 0px 25px 0px 25px;
}

.soins-section1-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.soins-section1-body {
    z-index: 2;
    background-color: #E6B89C;
    padding: 25px;
    margin: 2.5em 25px 25px 25px;
    border-radius: 25px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);

}

.soins-section1-image {
    margin: 35px;
}

.soins-section1-image img {
    border-radius: 25px;
}


.soins-wave-section1{
    position: relative;
    aspect-ratio: 1000/ 200;
    background: url('./Images/Desktop/wavesoins_modified.svg') no-repeat bottom center;
    background-size: cover;
    z-index: 1;
    pointer-events: none;
}




@media screen and (min-width: 768px) {

    .soins-section1-content {
        flex-direction: row;
        margin-top: 3em;
    }

    .soins-section1-body {
        width: 50%;
        padding: 50px 25px 50px 25px;
        margin-right: 0;
    }
}


/* RESPONSIVE SECTION 1 PAGE SOINS */



@media screen and (min-width: 1024px){
     .soins-section1 {
        justify-items: center;
    }

    .soins-section1-content{
         width: 75%;

    }

    .soins-section1-body{
        padding: 65px 25px 65px 25px;
    }
}